@charset "UTF-8";


                    /* TABLETS */
@media screen and (min-width: 768px) and (max-width: 992px){ 

    body{
        background-image: linear-gradient(to bottom, #1a3c55 , #596168);
    }

    #login{
        width: 80vw;
    }

    #imagem{
        float: left;
        width: 35%;
        height: 100%;
    }

    #formulario{
        float: right;
        width: 65%;
        height: 100%;
    }
}


                    /* DESKTOP */
@media screen and (min-width: 992px){

    body{
        background-image: linear-gradient(to bottom, #1a3c55 , #596168);
    }

    #login{
        width: 920px;
    }

    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario{
        float: left;
        width: 50%;
    }
}